{% extends 'app.php.twig' %}

{% block widget %}
    <p>sales blog</p>

    {% if category_form  %}
        {{ form_start(category_form) }}
        <div class="form-group">
            {{ form_label(category_form.name) }}
            {{ form_errors(category_form.name) }}
            {{ form_widget(category_form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(category_form.cat) }}
            {{ form_errors(category_form.cat) }}
            {{ form_widget(category_form.cat) }}
        </div>



        <div class="form-group">

            {{ form_widget(category_form.save) }}
        </div>
        {{ form_end(category_form) }}
    {% endif %}
    <!--form error message -->
    {% if app.session.flashBag.has('product_notice') %}
            <div class="alert alert-success">
                {% for flash_message in app.session.flashBag.get('product_notice') %}
                    {{ flash_message }}
                {% endfor %}
            </div>
    {% endif %}
    {% if app.session.flashBag.has('product_error') %}
        <div class="alert alert-warning">
            {% for msg in app.session.flashBag.get('product_error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}







{% endblock %}

{% block body %}
    <div class="col-lg-12">








        <!--display update form error message -->
        {% if app.session.flashBag.has('error') %}
            {% for msg in app.session.flashBag.get('error') %}
                {% for msginput in  msg  %}
                    {% for message in   msginput  %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        <!--display all product -->
        {% for item in product %}
            <div style="margin: 0 auto;float: none;overflow: auto;zoom: 1;" class="col-xs-10">
                <div style="padding: 10px; background-color: cornflowerblue; color: ghostwhite;margin-bottom: 5px" class="col-xs-12">
                    <div  class="col-xs-8">
                        <div style="margin-top: 5px;" class="col-xs-4">
                            <a style="color:white" href="{{ path('_product_detailes',{'productId': item.id}) }}">{{ loop.index }} click to detailes</a>
                        </div>
                        <div class="col-xs-8">
                            <!--update product form -->
                            {% if produt_edit_form  %}
                                {{ form_start(produt_edit_form[loop.index0],{'attr': {'class': 'form-inline'}}) }}
                                <div class="form-group">
                                    {{ form_label(produt_edit_form[loop.index0].name) }}
                                    {{ form_widget(produt_edit_form[loop.index0].name, {value : item.name}) }}
                                    {{ form_widget(produt_edit_form[loop.index0].id, {value : item.id}) }}
                                </div>
                                    {{ form_widget(produt_edit_form[loop.index0].save) }}
                                {{ form_end(produt_edit_form[loop.index0]) }}
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-xs-4">
                        <!--
                        <form method="POST" action="{{ path('_product_delete')}}">
                            <input type="hidden" name="product_id" value="{{ item.id }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                        -->
                        <!--delete product form -->
                        {% if product_delete_form  %}
                            {{ form_start(product_delete_form[loop.index0],{'attr': {'class': 'form-inline'}}) }}
                            <div class="form-group">
                                {{ form_widget(product_delete_form[loop.index0].id, {value : item.id}) }}
                            </div>
                            {{ form_widget(product_delete_form[loop.index0].save) }}
                            {{ form_end(product_delete_form[loop.index0]) }}
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}