{% extends 'app.php.twig' %}

{% block widget %}
{% if is_granted('ROLE_USER') %}
    <p style="text-align: center;font-size: 30px;font-family: 'Courier New'">Admin page!</p>
{% endif %}

{% endblock %}

{% block body %}

    <div class="col-lg-12">
        <div style="margin: 0 auto;float: none;overflow: auto" class="col-lg-10">
            <div style="border: 3px solid antiquewhite;margin-bottom: 10px;background-color: burlywood" class="row">
                <div class="col-xs-1 user_titel">
                    №
                </div>
                <div class="col-xs-1 user_titel">
                    Name
                </div>
                <div class="col-xs-1 user_titel">
                    Permission
                </div>
                <div class="col-xs-4 user_titel">
                    Change permission
                </div>
                <div class="col-xs-1 user_titel">
                    Email
                </div>
                <div class="col-xs-1 user_titel">
                    Country
                </div>
                <div class="col-xs-2 user_titel">
                    Address
                </div>
                <div class="col-xs-1 user_titel">
                    Account activation
                </div>
            </div>
            <!--display Entity Doctrine (User) -->
            {% for user in users %}
                <div class="row">
                    <div class="col-xs-1">
                        {{ loop.index }}
                    </div>
                    <div class="col-xs-1">
                        {{ user.username }}
                    </div>

                    {% for accessGroup in user.groups %}
                    <div class="col-xs-1">
                        {{ accessGroup.user_role.role_label }}

                    </div>


                        <div class="col-xs-4">
                            <!--update product form -->
                            <!-- (parent.loop) -> (because the loop inside the loop) -->
                            {% if update_user_permission  %}
                                {{ form_start(update_user_permission[loop.parent.loop.index0],{'attr': {'class': 'form-inline'}}) }}
                                <div class="form-group">
                                    {{ form_label(update_user_permission[loop.parent.loop.index0].user_role) }}
                                             {{ form_widget(update_user_permission[loop.parent.loop.index0].user_role) }}
                                    {{ form_widget(update_user_permission[loop.parent.loop.index0].id, {value : accessGroup.id}) }}
                                    {{ form_widget(update_user_permission[loop.parent.loop.index0].user_id, {value : user.id}) }}
                                </div>
                                {{ form_widget(update_user_permission[loop.parent.loop.index0].save) }}
                                {{ form_end(update_user_permission[loop.parent.loop.index0]) }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="col-xs-1">
                        {{ user.email }}
                    </div>
                    <div class="col-xs-1">
                        {{ user.country.name }}
                    </div>
                    <div class="col-xs-2">
                        {{ user.address.address }}
                    </div>
                    <div class="col-xs-1">
                        {% if user.isActive == true %}
                            <p style="background-color: #03b28f">active</p>
                        {% else %}
                            <p style="background-color: #8e8e8e">not active</p>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>



{% endblock %}
